# KORTZEN Environment Variables Template
DB_HOST=localhost
DB_NAME=u434851126_kortzen
DB_USER=u434851126_kortzenusr
DB_PASS=Kortzen2026!
SITE_URL=https://kortzen.com
SITE_NAME=KORTZEN Barbería
RECAPTCHA_SITE_KEY=6Ldm9oUtAAAAALygbin3zWA6sx15vHe7DeJ0-Rop
RECAPTCHA_SECRET_KEY=6Ldm9oUtAAAAAItTxMMq49FFc2Gl76ppbDsJfBIU
